@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Yrsa:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', serif;
  color: #181818;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .app {
    @apply h-screen;
  }

  .header {
    @apply fixed top-0 z-10 w-full;
  }

  .header .wrapper {
    @apply max-w-7xl mx-auto flex items-center px-8 py-2;
  }

  .header .nav {
    @apply flex-1 hidden md:block;
  }

  .header .mobile-nav {
    @apply flex-1 block md:hidden;
  }

  .header .tabs {
    @apply flex gap-7 items-center font-medium;
  }

  .header .logo {
    @apply text-4xl font-bold;
  }

  .header .logo span {
    @apply inline-block rotate-[-12deg] translate-x-[-1px];
  }

  .header .search {
    @apply flex-1 flex justify-end;
  }

  .header .search svg {
    @apply w-6 h-6;
  }
}

@layer utilities {
  .header .logo {
    font-family: 'Yrsa', serif;
  }
  .hero {
    height: 100%;
    background-image: linear-gradient(to right, blue 50%, red 50%);
  }
}
